body {
    /* background-color: snow; */
    max-width: 750px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img.phone-screenshot {
    max-width: 200px;
    border-radius: 15px; /* this is more than standard */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}