<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>tomstephen</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{{ get_url(path='assets/extensions/raster/raster2.css') | safe}}">
    </head>

    <body>
        <section class="section">
            <div class="container">
            {% block content %} {% endblock %}
            </div>
        </section>
    </body>
</html>